APP_ENV=
API_HOST=
API_PORT=

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# JWT
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Transcript API
TRANSCRIPT_API_BASE_URL=https://transcriptapi.com/api/v2
TRANSCRIPT_API_KEY=

# LLM (use one)
OPENAI_API_KEY=
# GROQ_API_KEY=
